In [1]:
#importing required libraries
import pandas as pd
import requests

In [2]:
#downloading the dataset

import requests

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"  
filename = "survey_data.csv"

response = requests.get(url)

# Check request success
if response.status_code == 200:
    with open(filename, "wb") as f:
        f.write(response.content)   # save CSV as binary
    print(f"File saved as {filename}")
else:
    print("Failed to download:", response.status_code)

File saved as survey_data.csv

In [4]:
#reading the dataset into pandas
df = pd.read_csv(filename)

In [5]:
#displaying the top 5 rows 
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [9]:
#Printing the numbers of rows in the dataset
print(f"There are {df.shape[0]} rows in the dataset")

There are 65437 rows in the dataset

In [10]:
#Printing the number of columns in the datset
print(f"There are {df.shape[1]} columns in the dataset")

There are 114 columns in the dataset

In [20]:
#Printing the datatypes of each columns 
for col in df.columns: # -------------> using loops to show all columns or else the output is by default truncated 
    print(f"{col}:                      {df[col].dtype}")

ResponseId:                      int64
MainBranch:                      object
Age:                      object
Employment:                      object
RemoteWork:                      object
Check:                      object
CodingActivities:                      object
EdLevel:                      object
LearnCode:                      object
LearnCodeOnline:                      object
TechDoc:                      object
YearsCode:                      object
YearsCodePro:                      object
DevType:                      object
OrgSize:                      object
PurchaseInfluence:                      object
BuyNewTool:                      object
BuildvsBuy:                      object
TechEndorse:                      object
Country:                      object
Currency:                      object
CompTotal:                      float64
LanguageHaveWorkedWith:                      object
LanguageWantToWorkWith:                      object
LanguageAdmired:                      object
DatabaseHaveWorkedWith:                      object
DatabaseWantToWorkWith:                      object
DatabaseAdmired:                      object
PlatformHaveWorkedWith:                      object
PlatformWantToWorkWith:                      object
PlatformAdmired:                      object
WebframeHaveWorkedWith:                      object
WebframeWantToWorkWith:                      object
WebframeAdmired:                      object
EmbeddedHaveWorkedWith:                      object
EmbeddedWantToWorkWith:                      object
EmbeddedAdmired:                      object
MiscTechHaveWorkedWith:                      object
MiscTechWantToWorkWith:                      object
MiscTechAdmired:                      object
ToolsTechHaveWorkedWith:                      object
ToolsTechWantToWorkWith:                      object
ToolsTechAdmired:                      object
NEWCollabToolsHaveWorkedWith:                      object
NEWCollabToolsWantToWorkWith:                      object
NEWCollabToolsAdmired:                      object
OpSysPersonal use:                      object
OpSysProfessional use:                      object
OfficeStackAsyncHaveWorkedWith:                      object
OfficeStackAsyncWantToWorkWith:                      object
OfficeStackAsyncAdmired:                      object
OfficeStackSyncHaveWorkedWith:                      object
OfficeStackSyncWantToWorkWith:                      object
OfficeStackSyncAdmired:                      object
AISearchDevHaveWorkedWith:                      object
AISearchDevWantToWorkWith:                      object
AISearchDevAdmired:                      object
NEWSOSites:                      object
SOVisitFreq:                      object
SOAccount:                      object
SOPartFreq:                      object
SOHow:                      object
SOComm:                      object
AISelect:                      object
AISent:                      object
AIBen:                      object
AIAcc:                      object
AIComplex:                      object
AIToolCurrently Using:                      object
AIToolInterested in Using:                      object
AIToolNot interested in Using:                      object
AINextMuch more integrated:                      object
AINextNo change:                      object
AINextMore integrated:                      object
AINextLess integrated:                      object
AINextMuch less integrated:                      object
AIThreat:                      object
AIEthics:                      object
AIChallenges:                      object
TBranch:                      object
ICorPM:                      object
WorkExp:                      float64
Knowledge_1:                      object
Knowledge_2:                      object
Knowledge_3:                      object
Knowledge_4:                      object
Knowledge_5:                      object
Knowledge_6:                      object
Knowledge_7:                      object
Knowledge_8:                      object
Knowledge_9:                      object
Frequency_1:                      object
Frequency_2:                      object
Frequency_3:                      object
TimeSearching:                      object
TimeAnswering:                      object
Frustration:                      object
ProfessionalTech:                      object
ProfessionalCloud:                      object
ProfessionalQuestion:                      object
Industry:                      object
JobSatPoints_1:                      float64
JobSatPoints_4:                      float64
JobSatPoints_5:                      float64
JobSatPoints_6:                      float64
JobSatPoints_7:                      float64
JobSatPoints_8:                      float64
JobSatPoints_9:                      float64
JobSatPoints_10:                      float64
JobSatPoints_11:                      float64
SurveyLength:                      object
SurveyEase:                      object
ConvertedCompYearly:                      float64
JobSat:                      float64

In [25]:
#Printing the mean age of survey participants 

import re
def parse_age(age_str): #----------> The Age column is object, and has ranges instead of a number, hence we pass this function
    if "Under" in age_str:
        return 17  
    else:
        # Extract numbers from the string
        nums = list(map(int, re.findall(r"\d+", age_str)))
        if len(nums) == 1:
            return nums[0]
        elif len(nums) == 2:
            return sum(nums) / 2  # midpoint
        else:
            return None

df["age_numeric"] = df["Age"].apply(parse_age)

mean_age=df["age_numeric"].mean()
print(f"The mean age of the participants in the survey is {mean_age}")

The mean age of the participants in the survey is 32.9880288719957

In [26]:
#Printing how many unique countries are in the dataset

unique_countries = df["Country"].nunique()
print("Number of unique countries:", len(unique_countries))

Unique countries: ['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Number of unique countries: 186